.header {
  background-color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.header__logo {
  margin: auto;
  height: 30px;
}

.footer {
  background-color: #353535;
  padding: 15px 0px 25px 20px;
}
.footer__h4 {
  margin: 0;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__ul {
  list-style-type: none;
  color: white;
  padding: 0;
}
.footer__ul__li__icon {
  color: white;
  font-size: 10px;
}
.footer__ul__li__a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.sectionTrouverSonRestau {
  display: flex;
  flex-direction: column;
}

.localisation {
  display: flex;
  height: 40px;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: inset 0px 2px 2px #d3d3d3;
}
.localisation__icon {
  color: grey;
}
.localisation__pVille {
  color: grey;
}

.exploration {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  gap: 15px;
}
.exploration__h1 {
  margin: 0;
  font-weight: 700;
}
.exploration__pSousTitre {
  margin: 0px;
  color: #6a6a6a;
}
.exploration__btnAction {
  background: rgb(255, 121, 218);
  background: linear-gradient(131deg, rgb(255, 121, 218) 5%, rgb(147, 86, 220) 61%);
  border: none;
  height: 50px;
  padding: 0px 20px 0px 20px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 21.13px;
  border-radius: 25px 25px 25px 25px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.etape {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 60px;
  border-radius: 20px;
  gap: 20px;
  width: 90%;
  box-shadow: 0px 3px 6px 2px #d3d3d3;
}
.etape__numEtape {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  left: -10px;
}
.etape__iconeEtape--couleurGris {
  color: #7e7e7e;
}
.etape__iconeEtape--couleurPrimaire {
  color: #9356DC;
}

.sectionRestaurants {
  background-color: #f7f7f7;
  padding: 40px 15px 40px 15px;
}

.ctnRestaurants {
  display: flex;
  flex-direction: column;
}
.ctnRestaurants__h2 {
  font-weight: 900;
}

.ctnCardRestaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardRestaurants {
  width: 100%;
}
.cardRestaurants__aCard {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 5px 5px 5px #d9d9d9;
}
.cardRestaurants__encartNouveau {
  background-color: #99e2d0;
  color: #139273;
  font-weight: 900;
  position: absolute;
  left: 70%;
  top: 5%;
  padding: 10px;
  width: auto;
}
.cardRestaurants__imgCard {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  object-fit: cover;
}
.cardRestaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardRestaurants__description__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.cardRestaurants__description__detail__h3 {
  font-weight: 900;
  margin-bottom: 0px;
}
.cardRestaurants__description__detail__pDetail {
  margin-top: 0px;
  font-weight: 100;
}
.cardRestaurants__description__icon {
  font-size: 25px;
  margin-right: 30px;
}

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
