.header {
  background-color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.header__btnRetour {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  text-decoration: none;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin: auto;
  height: 30px;
}

.footer {
  background-color: #353535;
  padding: 15px 0px 25px 20px;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 992px) {
  .footer {
    align-items: center;
  }
}
.footer__h4 {
  margin: 0;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__ul {
  list-style-type: none;
  color: white;
  padding: 0;
}
.footer__ul__li__icon {
  color: white;
  font-size: 10px;
}
.footer__ul__li__a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.sectionTrouverSonRestau {
  display: flex;
  flex-direction: column;
}

.localisation {
  display: flex;
  height: 40px;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: inset 0px 2px 2px #d3d3d3;
}
.localisation__icon {
  color: grey;
}
.localisation__pVille {
  color: grey;
}

.exploration {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  gap: 15px;
}
.exploration__h1 {
  margin: 0;
  font-weight: 700;
}
.exploration__pSousTitre {
  margin: 0px;
  color: #6a6a6a;
}
.exploration__btnAction {
  background-color: rgb(255, 121, 218);
  background: linear-gradient(131deg, rgb(255, 121, 218) 5%, rgb(147, 86, 220) 61%);
  border: none;
  height: 50px;
  padding: 0px 20px 0px 20px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 21.13px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 3px 6px 2px #d3d3d3;
  position: relative;
  z-index: 1;
}
.exploration__btnAction:hover::after {
  opacity: 1;
}
.exploration__btnAction::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 3px 6px 2px #bababa;
  background: linear-gradient(131deg, #fface8 5%, #ae80e5 61%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.sectionFonctionnement {
  padding-bottom: 50px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 992px) {
  .fonctionnement__h2 {
    text-align: center;
  }
}

.etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media all and (min-width: 599px) and (max-width: 992px) {
  .etapes {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media all and (min-width: 992px) {
  .etapes {
    flex-direction: row;
    justify-content: center;
  }
}

.etape {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 60px;
  border-radius: 20px;
  gap: 20px;
  width: 90%;
  box-shadow: 0px 3px 6px 2px #d3d3d3;
}
@media all and (min-width: 599px) and (max-width: 992px) {
  .etape {
    width: auto;
    padding-right: 15px;
  }
}
@media all and (min-width: 992px) {
  .etape {
    width: 20%;
  }
}
.etape__numEtape {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  left: -10px;
}
.etape__iconeEtape--couleurGris {
  color: #7e7e7e;
}
.etape__iconeEtape--couleurPrimaire {
  color: #9356DC;
}

.sectionRestaurants {
  background-color: #f7f7f7;
  padding: 40px 15px 40px 15px;
}

.ctnRestaurants {
  display: flex;
  flex-direction: column;
}
.ctnRestaurants__h2 {
  font-weight: 900;
}
@media all and (min-width: 992px) {
  .ctnRestaurants__h2 {
    text-align: center;
  }
}

.ctnCardRestaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media all and (min-width: 599px) and (max-width: 992px) {
  .ctnCardRestaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 992px) {
  .ctnCardRestaurants {
    flex-direction: row;
    justify-content: space-around;
  }
}

.cardRestaurants {
  width: 100%;
}
@media all and (min-width: 599px) and (max-width: 992px) {
  .cardRestaurants {
    width: 40%;
  }
}
@media all and (min-width: 992px) {
  .cardRestaurants {
    width: 20%;
  }
}
.cardRestaurants__aCard {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 5px 5px 5px #d9d9d9;
}
.cardRestaurants__encartNouveau {
  background-color: #99e2d0;
  color: #139273;
  font-weight: 900;
  position: absolute;
  left: 70%;
  top: 5%;
  padding: 10px;
  width: auto;
}
.cardRestaurants__imgCard {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  object-fit: cover;
}
.cardRestaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardRestaurants__description__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.cardRestaurants__description__detail__h3 {
  font-weight: 900;
  margin-bottom: 0px;
}
.cardRestaurants__description__detail__pDetail {
  margin-top: 0px;
  font-weight: 100;
}
.cardRestaurants__description__icon {
  font-size: 25px;
  margin-right: 30px;
}
.cardRestaurants__description__icon:hover .fa-heart {
  animation: apparition 400ms forwards;
}
.cardRestaurants__description__icon:hover .fa-heart:before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 900;
  background: linear-gradient(180deg, rgb(147, 86, 220) 51%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}

@keyframes apparition {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.chargement {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: disparition 400ms 2s forwards, horsEcran 100ms 2400ms forwards;
}

@keyframes disparition {
  0% {
    opacity: 1; /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    opacity: 0;
  }
}
@keyframes horsEcran {
  0% {
    transform: translateY(0%); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: translateY(-100%);
  }
}
.spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

.spinner:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.spinner:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
.chargement .sectionChargement {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #ae80e5;
  z-index: 1000;
  -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0); /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

.chargement .sectionChargement.sectionGauche {
  left: 0;
  animation: departGauche 400ms 2s forwards;
}

.chargement .sectionChargement.sectionDroite {
  right: 0;
  animation: departdroite 400ms 2s forwards;
}

@keyframes departGauche {
  0% {
    transform: translateX(0%); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes departdroite {
  0% {
    transform: translateX(0%); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: translateX(100%);
  }
}
/* Loaded */
.loaded .chargement .sectionChargement.sectionGauche {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 2s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 2s 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .chargement .sectionChargement.sectionDroite {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .spinner {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded .chargement {
  visibility: hidden;
  -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%); /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.no-js .chargement {
  display: none;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sectionMenu {
  width: 100%;
  position: relative;
}

.ctnImage__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #f7f7f7;
  border-radius: 25px 25px 0% 0%;
  position: absolute;
  top: 175px;
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
