.footer{
    background-color: #353535;
    padding: 15px 0px 25px 20px;
    display: flex;
    flex-direction: column;
    @media all and (min-width: $breakPointDesktop){
        align-items: center;
    }
    &__h4{
        margin: 0;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;
        color: white;
    }
    &__ul{
        list-style-type: none;
        color: white;
        padding: 0;
        &__li{
            &__icon{
                color: white;
                font-size: 10px;
            }
            
            &__a{
                color: white;
                font-size: 15px ;
                text-decoration: none;
            }
        }
    }
}
