.sectionTrouverSonRestau{
    display: flex;
    flex-direction: column;
}

.localisation{
    display: flex;
    height: 40px;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: inset 0px 2px 2px #d3d3d3;
    &__icon{
        color: grey;
    }
    &__pVille{
        color: grey;
    }
}

.exploration{
    display: flex;
    background-color: $couleurFond;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    gap: 15px;
    &__h1{
        margin: 0;
        font-weight: 700;
    }
    &__pSousTitre{
        margin: 0px;
        color: #6a6a6a;
    }
    &__btnAction{
        background: rgb(255,121,218);
        background: linear-gradient(131deg, rgba(255,121,218,1) 5%, rgba(147,86,220,1) 61%);
        border: none;
        height: 50px;
        padding: 0px 20px 0px 20px;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 21.13px;
        border-radius: 25px 25px 25px 25px;
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.etapes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.etape{
    display: flex;
    align-items: center;
    background-color: $couleurFond;
    height: 60px;
    border-radius: 20px;
    gap: 20px;
    width: 90%;
    box-shadow: 0px 3px 6px 2px #d3d3d3;
    &__numEtape{
        color: white;
        background-color: $couleurPrimaire;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        position: relative;
        left: -10px;        
    }
    &__iconeEtape{
        &--couleurGris{
            color: #7e7e7e;
        }
        &--couleurPrimaire{
            color: $couleurPrimaire;
        }
    }
}

.sectionRestaurants{
    background-color: $couleurFond;
    padding: 40px 15px 40px 15px;
}

.ctnRestaurants{
    display: flex;
    flex-direction: column;
    &__h2{
        font-weight: 900;
    }
}

.ctnCardRestaurants{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardRestaurants{
    width: 100%;
    &__aCard{
        position: relative;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-shadow: 5px 5px 5px #d9d9d9;
    }
    &__encartNouveau{
        background-color: #99e2d0;
        color: #139273;
        font-weight: 900;
        position: absolute;
        left: 70%;
        top: 5%;
        padding: 10px;
        width: auto;
    }
    &__imgCard{        
        border-radius: 20px 20px 0px 0px;
        height: 150px;
        object-fit: cover;    
    }
    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            &__h3{
                font-weight: 900;
                margin-bottom: 0px;
            }
            &__pDetail{
                margin-top: 0px;
                font-weight: 100;
            }
        }
        
        &__icon{
            font-size: 25px;
            margin-right: 30px;
            
        }
    }
}
