//Les couleurs
$couleurPrimaire: #9356DC;
$couleurSecondaire: #FF79DA;
$couleurTertiaire: #99E2D0;
$bgColor: white;
$couleurFond: #f7f7f7;
//Les polices
$fontTitre: 'Shrikhand', cursive;
//breakpoints
$breakPointTablette: 599px;
$breakPointDesktop: 992px;