//Les couleurs
$couleurPrimaire: #9356DC;
$couleurSecondaire: #FF79DA;
$couleurTertiaire: #99E2D0;
$bgColor: white;
$couleurFond: #f7f7f7;
$couleurFondFooter: #353535;
$couleurOmbre: #d3d3d3;
$couleurTexteSecondaire: #6a6a6a;
//Les polices
$fontTitre: 'Shrikhand', cursive;
//breakpoints
$breakPointTablette: 599px;
$breakPointDesktop: 992px;
//autres
$tailleCtnDescription: 30% !default;
$bg: black;